In [1]:
####
from selenium import webdriver
from selenium.webdriver.chrome.options import Options  ## for headless mode
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
#######
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re 
from matplotlib import pyplot as plt
import seaborn as sns
import urllib3
pd.plotting.register_matplotlib_converters()
from warnings import filterwarnings
filterwarnings('ignore')
# %matplotlib inline
import time
print("Setup Complete")

Setup Complete

### function

In [5]:
def scraper(url_of_page):
    num=[]
    df=pd.DataFrame()
    http = urllib3.PoolManager()
    l = http.request('GET',url_of_page)
    soup_1=BeautifulSoup(l.data, 'html.parser')
    links_1 = soup_1.findAll('a', class_='phone')

    for i in range (len(links_1)):
        number=re.sub('<[^>]+>' , ' ', str(links_1)).strip().replace(' (','').replace('[','').replace(']','').replace(') ','').replace('-','').split(',')[0].strip()
        num.append({'link':url_of_page,'number':number})
    df=pd.DataFrame(num)
    df.to_excel('output1.xlsx', engine='xlsxwriter')
    return df

In [6]:
scraper('https://turbo.az/autos?page=2')

Empty DataFrame
Columns: []
Index: []

## personal auto

In [3]:
%%time
links_personal_auto=[]
num=[]
df=pd.DataFrame()
for x in range(1,5):
    url=f'https://turbo.az/autos?page={x}'
    request=requests.get(url).content
    soup=BeautifulSoup(request,'html.parser')
    cars=soup.find_all('div',class_='products-i')
    for i in cars:
        links_personal_auto.append('https://turbo.az'+i.a['href'])      
    for i in range (len(links_personal_auto)):
        http = urllib3.PoolManager()
        content = http.request('GET',links_personal_auto[i])
        soup_1=BeautifulSoup(content.data, 'html.parser')
        links_1 = soup_1.findAll('a', class_='phone')
        try:
            number=int(re.sub('<[^>]+>' , ' ', str(links_1)).strip().replace(' (','').replace('[','').replace(']','').replace(') ','').replace('-','').split(',')[0].strip())
            num.append({'number':number})
        except ValueError:
            number=0
    df=pd.DataFrame(num)        
df

CPU times: total: 23.3 s
Wall time: 3min 18s

        number
0    503573637
1    554103131
2    705070003
3    552110737
4    552502510
..         ...
291  502421120
292  509758369
293  505249719
294  553373377
295  702005933

[296 rows x 1 columns]

In [4]:
df.to_excel('personal_numbers.xlsx', engine='xlsxwriter')

## salon autos

In [5]:
%%time
links_salon_auto=[]
num=[]
salon_number=pd.DataFrame()
http = urllib3.PoolManager()

for x in range(1,5):
    url=f'https://turbo.az/autos?page={x}'
    request=requests.get(url).content
    soup=BeautifulSoup(request,'html.parser')
    cars=soup.find_all('div',class_='products-i salon')

    for i in cars:
        links_salon_auto.append('https://turbo.az'+i.a['href'])
        
    for i in range (len(links_salon_auto)):
        content = http.request('GET',links_salon_auto[i])
        soup_1=BeautifulSoup(content.data, 'html.parser')
        try:
            links_1 = soup_1.findAll('div', class_='shop-contact--phones-i')
            number=int(re.sub('<[^>]+>' , ' ', str(links_1)).strip().replace(' (','').replace('[','').replace(']','').replace(') ','').replace('-','').split(',')[0].strip())
            num.append({'number':number})
        except ValueError:
            number=0
    salon_number=pd.DataFrame(num)        
salon_number.tail(5)

CPU times: total: 1.47 s
Wall time: 13.5 s

       number
12  998910021
13  552152626
14  773866685
15  773866685
16  503383436

In [18]:
sal.to_excel('salon_numbers.xlsx', engine='xlsxwriter')